node_modules
public/fontawesome
old
production
cert
backup
*.SHD
*.SPL
electronic_document.js
temp
sii_webscraper
error_log.txt
marcos.ovpn
print.py
mysql_procedures_rut.txt
qz-tray.exe
test.jpg
vpn
*.txt
*.pdf