node_modules
public/fontawesome
old
production
cert
backup
*.SHD
*.SPL
bank_balance/*.png
electronic_document.js
temp
sii_webscraper
error_log.txt
marcos.ovpn
print.py
mysql_procedures_rut.txt
qz-tray.exe
test.jpg
vpn
scripts
config
online_db
*.txt
*.pdf
*.xlsx
*.zip
*.php
test.ovpn