<!DOCTYPE html>
<html language="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">

    <!-- Document title -->
    <title>Unautorized</title>
    <link rel="icon" type="image/png" href="icon.png"/>
    <link rel="stylesheet" href="css/unauthorized.css">

</head>

<body>
    <div class="lock"></div>
    <div class="message">
        <h1>Access to this page is restricted</h1>
        <p>Please check with the site admin if you believe this is a mistake.</p>
        <p></p>
    </div>
    <script defer type="text/javascript" src="js/401.js"></script>
</body>
</html>