<div id="print-with-browser-grid">

    <div id="print-first-header">
        <div id="ticket-number" class="header-row"></div>
        <div id="printed-date" class="header-row"></div>
    </div>

    <div class="space"></div>

    <div id="print-second-header">
        <div class="second-header-row">
            <div class="second-header-column">Patente</div>
            <div id="primary-plates" class="second-header-column"></div>
        </div>
        <div class="second-header-row">
            <div class="second-header-column">Ciclo</div>
            <div id="cycle" class="second-header-column"></div>
        </div>
        <div class="second-header-row">
            <div class="second-header-column">Empresa</div>
            <div class="second-header-column">78.447.760-6        Sociedad Comercial Lepefer y Cia Ltda.</div>
        </div>
        <div class="second-header-row">
            <div class="second-header-column">Dirección</div>
            <div class="second-header-column">Callejon El Convento S/N</div>
        </div>
        <div class="second-header-row">
            <div class="second-header-column">Transportista</div>
            <div id="transport" class="second-header-column">Soc. de Transportes San Vicente Ltda.</div>
            <div id="secondary-plates"></div>
        </div>
    </div>

    <div class="space"></div>

    <div id="print-third-header">

        <div class="third-header-column">
            <div class="third-header-column__child">Información Tara</div>
            <div class="third-header-column__child">
                <div>Fecha - Hora</div>
                <div id="tare-weight-date"></div>
            </div>
            <div class="third-header-column__child">
                <div>Operador</div>
                <div id="tare-weight-user"></div>
            </div>
            <div class="third-header-column__child">
                <div>Chofer</div>
                <div class="weight-driver"></div>
            </div>
        </div>

        <div class="third-header-column">
            <div class="third-header-column__child">Información Pesaje Bruto</div>
            <div id="gross-weight-date" class="third-header-column__child"></div>
            <div id="gross-weight-user" class="third-header-column__child"></div>
            <div class="third-header-column__child weight-driver"></div>
        </div>

    </div>

    <div class="space"></div>

    <div id="print-last-header">
        <div class="last-header-column">
            <div>Peso (Kg)</div>
            <div>Bruto</div>
            <div>Tara</div>
            <div>Neto</div>
        </div>
        <div class="last-header-column">
            <div>Camión</div>
            <div id="gross-brute"></div>
            <div id="tare-brute"></div>
            <div id="brute-difference"></div>
        </div>
        <div class="last-header-column">
            <div>Envases</div>
            <div id="gross-containers"></div>
            <div id="tare-containers"></div>
            <div class="centered">
                <span>Neto S/Envases</span>
            </div>
        </div>
        <div class="last-header-column">
            <div>Sin Envases</div>
            <div id="gross-net"></div>
            <div id="tare-net"></div>
            <div></div>
        </div>
        <div class="last-header-column">
            <div class="last-header-column__child"></div>
            <div class="last-header-column__child">
                <div>Neto Corregido</div>
                <div id="final-net-weight"></div>
            </div>
            <div class="last-header-column__child">
                <div>Neto Informado</div>
                <div id="informed-net"></div>
            </div>
            <div class="last-header-column__child">
                <div>Diferencia</div>
                <div id="net-difference"></div>
            </div>
        </div>
    </div>

    <div id="documents__detail-line">Detalle</div>

    <div id="documents-body">
        
        <div id="documents-body__header">
            <div>Tipo/NºDoc</div>
            <div>Origen/Sucursal</div>
            <div>Producto / Envase</div>
            <div>Cant</div>
        </div>

        <div id="documents-body__body"></div>

    </div>

    <div id="documents-alternate-view">
        
    </div>
</div>