<div id="print-main-grid" class="grid-row">

    <div id="print-header" class="grid-row">

        <div id="print-ticket">
            <p class="print-bold"></p>
            <p class="print-bold"></p>
        </div>

        <div class="grid-column">
            <p class="print-bold">Empresa</p>
            <p class="print-bold">78.447.760-6 - Sociedad Comercial Lepefer y Cia. Ltda. - Callejón El Convento S/N, San Felipe</p>
        </div>

        <div id="print-header-data" class="grid-row">
            <div class="print-header-data grid-column">
                <div>
                    <p>Ciclo</p>
                    <p>Patente</p>
                    <p>Chofer</p>
                </div>
                <div>
                    <p id="print-weight-cycle"></p>
                    <p id="print-weight-plates"></p>
                    <p id="print-weight-driver"></p>
                </div>
            </div>
            <div class="print-header-data grid-column">
                <div>
                    <p>Neto Final</p>
                    <p>Neto Inf.</p>
                    <p>Diferencia</p>
                </div>
                <div>
                    <p id="print-kilos"></p>
                    <p id="print-kg-inf"></p>
                    <p id="print-kilos-difference"></p>
                </div>
            </div>
        </div>
        
    </div>

    <div id="print-weight-header" class="grid-row">
        
        <div id="print-gross-data">
            <div class="row">
                <p>INFORMACION PESO BRUTO</p>
            </div>
            <div class="row">
                <div class="print-body-data">
                    <div>
                        <p>Fecha</p>
                        <p>Operador</p>
                        <p>Peso Vehículo</p>
                        <p>Peso Envases</p>
                        <p>Peso Neto</p>
                    </div>
                    <div>
                        <p id="print-gross-date"></p>
                        <p id="print-gross-user"></p>
                        <p id="print-gross-brute"></p>
                        <p id="print-gross-containers"></p>
                        <p id="print-gross-net"></p>
                    </div>
                </div>
            </div>
        </div>

        <div id="print-tare-data">
            <div class="row">
                <p>INFORMACION PESO TARA</p>
            </div>
            <div class="row">
                <div class="print-body-data">
                    <div>
                        <p>Fecha</p>
                        <p>Operador</p>
                        <p>Peso Vehículo</p>
                        <p>Peso Envases</p>
                        <p>Peso Neto</p>
                    </div>
                    <div>
                        <p id="print-tare-date"></p>
                        <p id="print-tare-user"></p>
                        <p id="print-tare-brute"></p>
                        <p id="print-tare-containers"></p>
                        <p id="print-tare-net"></p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div id="print-documents" class="grid-row">
        <!--
        <div class="print-document grid-row">
            <div class="print-document-header grid-row">
                <div class="grid-row">
                    <p>Nº Doc: 53</p>
                    <p>Fecha Doc: 26-02-2021</p>
                </div>
                <p>Origen: Servicios Agricolas Cumbre - Huelquen</p>
                <p>Destino: Soc. Comercial Lepefer y Cia. Ltda - Secado El Convento</p>
            </div>
            <div class="print-document-body grid-row">
                <div class="grid-column">
                    <p>Envases</p>
                    <p>Producto</p>
                    <p>Descarte</p>
                    <p>Precio</p>
                    <p>Kilos Inf.</p>
                    <p>Kilos</p>
                </div>
                <div class="grid-column">
                    <p>78 Bins Plastico Gris Abierto</p>
                    <p>Uva Thompson</p>
                    <p>Parron</p>
                    <p>$150</p>
                    <p>38.590 KG</p>
                    <p>38.590 KG</p>
                </div>
            </div>
        </div>
        -->

    </div>

</div>

<script defer type="text/javascript" src="js/purify.js"></script>
<script defer type="text/javascript" src="js/qz-tray.js"></script>
<script defer type="text/javascript" src="js/print.js"></script>