#analytics > nav {
  height: 35px;
}

@media (max-width: 576px) {
  #analytics > nav {
      height: 30px;
      margin: auto auto auto 5px
  } 
}

#analytics > .content {
  width: 100%;
  height: calc(100% - 35px);
}

#analytics > .content > div {
  margin: auto;
  width: 100%;
  height: 100%;
}

#analytics__main-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 70px;
  align-items: center;
  padding: 30px 0;
}

@media (max-width: 576px) {

  #analytics > .content > div {
      margin: 0 auto;
  }

  #analytics__main-grid {
      padding: 0 7px;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 7px;

  }
}

#analytics__main-grid > .card {
  cursor: pointer;
}

#analytics__main-grid .card .new-weight-icon .fa-list-ul {
  font-size: 21px;
  margin: auto 24px 25px auto;
}

#analytics__main-grid .card .new-weight-icon .fa-cubes {
  font-size: 25px;
  margin: auto 23px 23px auto;
}

#analytics__main-grid .card .new-weight-icon .fa-cubes {
  font-size: 25px;
  margin: auto 23px 23px auto;
}

#analytics__main-grid .card .new-weight-icon .fa-handshake {
  font-size: 20px;
  margin: auto 23px 25px auto;
}

#analytics__main-grid .card .new-weight-icon .fa-users {
  font-size: 20px;
  margin: auto 23px 25px auto;
}

#analytics__containers-stock {
  height: calc(100% - 15px);

}

#analytics__entities-table {
  border: 2px solid rgba(255, 255, 255, .3);
  height: 100%;
}

#analytics__entities-table .tr { 
  grid-template-columns: 150px 1fr repeat(4, 160px)
}

#analytics__entities-table .td.name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#analytics__entities-table .td.dispatches {
  color: var(--dispatch-color-bright);
  font-weight: 700;
  opacity: .7;
}

#analytics__entities-table .td.receptions {
  color: var(--reception-color-bright);
  font-weight: 700;
}

#analytics__entities-table .td.stock {
  opacity: 1;
  font-weight: 700;
}



/**************** WEIGHT MODAL ************/
#analytics__weight-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  display: none;
}

#analytics__weight-modal.active {
  display: flex;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  #analytics__weight-modal {
    backdrop-filter: blur(10px);
  }
}

#analytics__entities-stock-movements .close-btn-absolute {
  top: 70px;
}

#entity-stock__entity-header h2 {
  text-align: left;
}

#entity-stock__filters {
  display: flex;
}

#entity-stock__filters > div {
  margin: auto 10% 5px 10%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 40px;
}

#entity-stock__filters > div > div{
  position: relative;
  width: 100%;
  height: 32px;
  display: flex;
  margin: auto;
}

#entity-stock__filters label {
  width: 100%;
  text-align: center;
}

#entity-stock__filters input {
  text-align: center;
}

#entity-stock__filters .select-effect p {
  left: 12px;
}

#analytics__entities-stock-movements {
  height: auto;
  max-height: 100%;
  display: grid;
  grid-template-rows: 30px 60px 1fr;
}

.analytics__entities-stock-movements {
  overflow: hidden;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, .3);
}

.analytics__entities-stock-movements > div:first-child {
  height: 36px;
}

.analytics__entities-stock-movements .table-content {
  height: calc(100% - 66px);
}

.analytics__entities-stock-movements .th i:not(.th.selected i) {
  display: none;
}


.analytics__entities-stock-movements .td,
.analytics__entities-stock-movements .th {
  padding: 0;
  align-self: center;
  justify-self: center;
}

.analytics__entities-stock-movements .td {
  padding: 15px 0;
}

.analytics__entities-stock-movements .table .tr {
  grid-template-columns: 36px 100px 100px 120px 100px 140px 230px 1fr 120px;
}

.analytics__entities-stock-movements .td.internal-entity,
.analytics__entities-stock-movements .td.branch {
  max-width: 98%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.analytics__entities-stock-movements .td.cycle > div {
  display: flex;
  flex-direction: row;
}

.analytics__entities-stock-movements .td.cycle > div i {
  margin: auto 3px auto auto;
}

.analytics__entities-stock-movements .td.cycle > div p {
  margin: auto auto auto 3px;
}

.analytics__entities-stock-movements .td.cycle[data-cycle-id="1"] i {
  color: var(--reception-color-bright);
}

.analytics__entities-stock-movements .td.cycle[data-cycle-id="2"] i {
  color: var(--dispatch-color-bright);
}

.analytics__entities-stock-movements .table-totals {
  height: 30px;
  display: flex;
  flex-direction: row;
}

.analytics__entities-stock-movements .table-totals p {
  font-weight: 700;
}

.analytics__entities-stock-movements .table-totals p:first-child {
  margin: auto 77px auto auto;
}

.analytics__entities-stock-movements .table-totals p:last-child {
  margin: auto 60px auto 25px;
}