#config > .content {
    width: 100%;
    height: 100%;
}

#config .close-btn-absolute {
  right: -20px;
}


#config-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
}

#config-grid .widget {
    cursor: pointer;
}

#config-grid > div > div > .widget-icon {
 width: 120px;
 height: 120px;   
}

#config-grid > div > div > .widget-icon i {
    transform: scale(1.5);
    margin: auto 27px 30px auto;
}

#config-grid .widget-data:nth-child(2) {
    margin: auto;
}

#config-grid .widget h4 {
    font-size: 21px;
    margin: auto;
    font-weight: 700;
}

#config-content {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

#config .table-header {
    height: 36px;
    border-bottom: 2px solid rgba(255, 255, 255, .3);
    background-color: rgba(255, 255, 255, .2);
}

#config .table-header .table {
    width: calc(100% - 16px);
}

#config .table-header .table,
#config .table-header .thead {
    height: 100%;
} 

#config .table-content {
    overflow-y: scroll;
    height: calc(100% - 36px);
    border-bottom: 2px solid rgba(255, 255, 255, .3);
}

#config .table {
    width: 100%;
}

#config .tr {
  position: relative;
  transition: all 0.3s 0s linear;
  display: grid;
  grid-auto-flow: column;
  cursor: pointer;
}

#config .table-content .tr {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

#config .td,
#config .th {
    text-align: center;
    font-size: 14px;
    opacity: .8;
}

#config .th {
    padding: 0 15px;
    line-height: 36px;
    font-weight: 700;
}

#config .td {
    padding:  15px;
}

#config .tr:hover .td {
  opacity: 1;
  font-weight: 700;
  z-index: 3;
  transition: 
      opacity 250ms 0s linear,
      font-weight 100ms 0s linear
  ;
}

#config .tr {
  grid-template-columns: 200px 200px 200px 1fr 1fr;
}

#config .tr::before,
#config .tr::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0)
    linear-gradient(to right, rgba(20, 136, 204, .3), rgba(43, 50, 178, .3)) repeat scroll
    0% 0%;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s;
}
#config .tr::before {
  z-index: 1;
}
#config .tr::after {
  z-index: 2;
  filter: blur(20px);
}
#config .tr:hover {
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.2);
}

#config .tr:hover::before,
#config .tr:hover::after {
  transform: scaleY(1);
  transform-origin: top;
}

#config .tr:focus::before,
#config .tr:focus::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0)
    linear-gradient(to right, rgba(20, 136, 204, .5), rgba(43, 50, 178, .5)) repeat scroll
    0% 0%;
  transform: scaleY(1);
}

#config .tr.selected {
  font-weight: 700;
  transition: all 0.5s 0s ease;
}

#config .tr.selected::before,
#config .tr.selected::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0)
    linear-gradient(to right, rgb(20, 136, 204), rgb(43, 50, 178)) repeat scroll
    0% 0%;
  transform: scaleY(1);
}


#vehicles > .content,
#drivers > .content,
#containers > .content {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

#vehicles__table-grid,
#drivers__table-grid,
#containers__table-grid {
  margin: 0 auto auto auto;
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 520px 1fr;
  border: 2px solid rgba(255, 255, 255, .3);
}


#vehicles-table .tr {
  grid-template-columns: 90px 90px 90px 150px 150px 1fr 1fr;
}

#drivers-table .tr {
  grid-template-columns: 100px 1fr 200px 300px 120px 120px;  
}

#containers-table .tr {
  grid-template-columns: 100px 200px 1fr 200px 150px 150px;  
}

#vehicles-table .edit > div,
#drivers-table .edit > div,
#containers-table .edit > div {
  width: 100%;
  height: 100%;
  display: flex;
}

#vehicles-table .edit i,
#drivers-table .edit i,
#containers-table .edit i {
  margin: auto;
  font-size: 18px;
  transition: all 250ms 0s ease;
}

#vehicles-table .edit:hover i,
#drivers-table .edit:hover i,
#containers-table .edit:hover i {
  transform: scale(1.7);
}

#vehicles__vehicle-template,
#drivers__create-driver,
#containers__create-container {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  transition: all 250ms 100ms ease;
}

#vehicles__vehicle-template.active,
#drivers__create-driver.active,
#containers__create-container.active {
  background-color: rgba(0, 0, 0, .6);
  transition: all 250ms 500ms ease;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  #vehicles__vehicle-template.active,
  #drivers__create-driver.active,
  #containers__create-container.active {
    backdrop-filter: blur(10px);
  }
}

#vehicles__create-edit-vehicles__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 500px;
  height: 500px;
  margin: auto;
}

#vehicles__create-edit-vehicles {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 25px;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 50px 100px 100px 130px 1fr;
}

.create-edit-vehicles:first-child {
  display: flex;
}

#vehicles-btns,
#drivers-btns,
#containers-btns {
  display: flex;
}

#vehicles-btns > .grid-column,
#drivers-btns > .grid-column {
  margin: auto;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 25px;
  width: 82%;
}

#containers-btns > .grid-column {
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  width: 50%;
}

#vehicles-table .td.transport {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vehicles-btn,
.drivers-btn {
  position: relative;
  width: 100%;
  height: 47px;
  display: flex;
}

.vehicles-btn > div,
.drivers-btn > div {
  display: flex;
  width: 100%;
  height: 30px;
  position: relative;
  margin: auto auto 0 auto;
}

.vehicles-btn > div label,
.drivers-btn > div label {
  width: 100%;
  text-align: center;
}

.vehicles-btn > div input,
.drivers-btn > div input {
  text-align: center;
}

.vehicles-btn p,
.drivers-btn p {
  width: 100%;
}


#drivers__create-driver .create-document-absolute,
#containers__create-container .create-document-absolute { width: 450px }


#drivers__create-driver .body,
#containers__create-container .body {
  display: flex;
}

#drivers__create-driver .body .grid,
#containers__create-container .body .grid {
  position: relative;
  width: 100%;
  height: 75%;
  margin: auto;
  grid-auto-flow: row;
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}

#drivers__create-driver .create-driver-data-container,
#containers__create-container .create-driver-data-container {
  position: relative;
  display: flex;
  width: 60%;
  margin: auto;
}

#drivers__create-driver .create-document-btns-container {
  margin: auto;
}

#containers__create-container .select-effect > p {
  text-align: left;
}