<div class="create-weight__modal-container">
    <div class="modal-content">

        <div class="create-document__select-entities-container hidden">
            <div class="create-document-absolute active create-document__origin-entity">
                <div class="header">
                    <h3>ENTIDAD DE ORIGEN</h3>
                </div>
                <div class="body entity-list-container create-document__origin-entity-list">
                    <ul></ul>
                </div>
                <div class="footer">
                    <div class="create-document-btns-container">

                        <button class="svg-wrapper enabled red create-document__select-entity__close-entity-modal" onclick="close_entity_modal();"  data-prev-tab-selector="#create-document__origin-entity-list li:first-child">
                            <svg height="45" width="160" xmlns="http://www.w3.org/2000/svg">
                                <rect class="shape" height="45" width="160" />
                            </svg>
                            <div class="desc-container">
                                <i class="fas fa-times-circle"></i>
                                <p>CANCELAR</p>
                            </div>
                        </button>
                        <div class="btn-search-container create-document__select-entity__search-origin-container">
                            <div class="input-effect-container">
                                <input spellcheck="false" class="input-effect create-document__select-entity__search-origin" 
                                type="text" name="search-origin-entity" prev-tab-selector="#create-document__origin-entity-list li:first-child">
                                <label><i class="fal fa-search"></i>BUSCAR</label>
                                <span class="focus-border"></span>    
                            </div>
                        </div>
                        <button class="svg-wrapper disabled green create-document__select-entity__select-branch" data-next-tab-selector="#create-document__origin-entity-list li:first-child">
                            <svg height="45" width="160" xmlns="http://www.w3.org/2000/svg">
                                <rect class="shape" height="45" width="160" />
                            </svg>
                            <div class="desc-container">
                                <i class="fal fa-code-branch"></i>
                                <p>SUCURSAL</p>
                            </div>
                        </button>											
                    </div>
                </div>
            </div>
            <div class="create-document-absolute right create-document__origin-branch hidden">
                <div class="header">
                    <h3></h3>
                </div>
                <div class="body">
                    <div class="custom-table">
                        <div class="table-head">
                            <div class="table-body">
                                <div class="table-row">
                                    <div>Nº</div>
                                    <div>Sucursal</div>
                                    <div>Dirección</div>
                                    <div>Comuna</div>
                                </div>
                            </div>
                        </div>
                        <div class="table-content create-document__origin-branch-list">
                            <div class="table-body"></div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="create-document-btns-container">
                        <button class="svg-wrapper enabled red create-document__back-to-origin-btn">
                            <svg height="45" width="160" xmlns="http://www.w3.org/2000/svg">
                                <rect class="shape" height="45" width="160" />
                            </svg>
                            <div class="desc-container">
                                <i class="fas fa-chevron-left"></i>
                                <p>ORIGEN</p>
                            </div>
                        </button>

                        <button class="svg-wrapper disabled green create-document__select-origin-branch-btn">
                            <svg height="45" width="160" xmlns="http://www.w3.org/2000/svg">
                                <rect class="shape" height="45" width="160" />
                            </svg>
                            <div class="desc-container">
                                <i class="fas fa-check-circle"></i>
                                <p>ACEPTAR</p>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="create-document__create-product hidden">
            <div class="create-document-absolute">
                <div class="header">
                    <h3>CREAR PRODUCTO</h3>
                </div>
                <div class="body">
                    <div class="create-product__search-product">
                        <input type="text" spellcheck="false" class="input-effect" max="128" placeholder="Buscar Producto">
                        <span class="focus-border"></span>
                        <ul></ul>
                    </div>
                    <div class="create-product__product-code">
                        <input type="text" spellcheck="false" class="input-effect" max="10" placeholder="Código Producto">
                        <span class="focus-border"></span>
                    </div>
                    <div class="create-product__product-description">
                        <input type="text" spellcheck="false" class="input-effect" max="128" placeholder="Nombre Producto">
                        <span class="focus-border"></span>
                    </div>
                </div>
                <div class="footer">
                    <div class="create-document-btns-container">
                        <button class="svg-wrapper enabled red create-document__create-product-back-btn">
                            <svg height="45" width="160" xmlns="http://www.w3.org/2000/svg">
                                <rect class="shape" height="45" width="160" />
                            </svg>
                            <div class="desc-container">
                                <i class="fas fa-times-circle"></i>
                                <p>CANCELAR</p>
                            </div>
                        </button>

                        <button class="svg-wrapper enabled green create-document__create-product-accept-btn">
                            <svg height="45" width="160" xmlns="http://www.w3.org/2000/svg">
                                <rect class="shape" height="45" width="160" />
                            </svg>
                            <div class="desc-container">
                                <i class="fas fa-check-circle"></i>
                                <p>CREAR</p>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="create-document__details-container">

            <div class="create-document__header">
                <div class="create-document__header-row">
                    <div class="create-document__header-widget create-document__header__truck">
                        <div class="widget saved">
                            <div class="widget-container">
                                <div class="widget-icon">
                                    <i class="fal fa-truck-container"></i>
                                </div>
                                <div class="widget-data">
                                    <h5>PATENTE</h5>
                                </div>
                                <hr>
                                <div class="widget-data">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="create-document__header-widget create-document__header__created">
                        <div class="widget saved">
                            <div class="widget-container">
                                <div class="widget-icon">
                                    <i class="fal fa-info"></i>
                                </div>
                                <div class="widget-data">
                                    <h5>CREADO</h5>
                                </div>
                                <hr>
                                <div class="widget-data">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="create-document__header-widget create-document__header__user">
                        <div class="widget saved">
                            <div class="widget-container">
                                <div class="widget-icon">
                                    <i class="far fa-user"></i>
                                </div>
                                <div class="widget-data">
                                    <h5>USUARIO</h5>
                                </div>
                                <hr>
                                <div class="widget-data">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="create-document__header-widget create-document__doc-number">
                        <div class="widget-tooltip red hidden">
                            <span>Nº de documento ya existe para Origen.</span>
                        </div>
                        <div class="widget box-shadow-animated" onclick="widget_focus_input(this)">
                            <div class="widget-container">
                                <div class="widget-icon">
                                    <i class="fal fa-info"></i>
                                </div>
                                <div class="widget-input">
                                    <input spellcheck="false" type="text" class="input-effect"
                                    data-prev-tab-selector=".content-container.active .create-document__footer__electronic .widget">
                                    <label>Nº Doc.</label>
                                    <span class="focus-border"></span>															
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="create-document__header-widget create-document__doc-date" onclick="widget_focus_input(this)">
                        <div class="widget box-shadow-animated">
                            <div class="widget-container">
                                <div class="widget-icon">
                                    <i class="far fa-calendar-alt"></i>
                                </div>
                                <div class="widget-input">
                                    <input type="date" name="date" class="input-effect"
                                    
                                    data-next-tab-selector=".content-container.active .create-document__header__origin-entity .widget">
                                    <label>Fecha Doc.</label>
                                    <span class="focus-border"></span>															
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="create-document__header-row">
                    <div class="create-document__header-widget create-document__header__origin-entity">
                        <div class="widget box-shadow-animated" tabindex="-1"
                            data-prev-tab-selector=".content-container.active .create-document__doc-date input" 
                            data-next-tab-selector=".content-container.active .create-document__header__destination-entity .widget"
                        >
                            <div class="widget-container">
                                <div class="widget-icon">
                                    <i class="fal fa-layer-group"></i>
                                </div>
                                <div class="widget-data-absolute">
                                    <h5>ORIGEN</h5>
                                    <hr>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="create-document__header-widget create-document__header__origin-branch">
                        <div class="widget">
                            <div class="widget-container">
                                <div class="widget-icon">
                                    <i class="fal fa-code-branch"></i>
                                </div>
                                <div class="widget-data-absolute">
                                    <h5>SUCURSAL</h5>
                                    <hr>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="create-document__header-widget widget-with-select create-document__header__destination-entity">
                        <div class="custom-select" data-target="internal-entities">
                            <div class="selected-option" onclick="create_document_open_custom_select(this);">
                                <p>Seleccionar Entidad</p>
                                <i class="far fa-chevron-down"></i>
                            </div>
                            <ul></ul>
                        </div>
                        <div class="widget box-shadow-animated widget-with-select" tabindex="-1"
                            data-prev-tab-selector=".content-container.active .create-document__header__origin-entity .widget"
                            data-next-tab-selector=".content-container.active .create-document__header__destination-branch .widget"
                        >
                            <div class="widget-container">
                                <div class="widget-icon">
                                    <i class="fal fa-layer-group"></i>
                                </div>
                                <div class="widget-data-absolute">
                                    <h5>DESTINO</h5>
                                    <hr>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="create-document__header-widget widget-with-select create-document__header__destination-branch">
                        <div class="custom-select" data-target="internal-branches">
                            <div class="selected-option" onclick="create_document_open_custom_select(this);">
                                <p>Seleccionar Sucursal</p>
                                <i class="far fa-chevron-down"></i>
                            </div>
                            <ul></ul>
                        </div>
                        <div class="widget box-shadow-animated" tabindex="-1">
                            <div class="widget-container">
                                <div class="widget-icon">
                                    <i class="fal fa-code-branch"></i>
                                </div>
                                <div class="widget-data-absolute">
                                    <h5>SUCURSAL</h5>
                                    <hr>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>											
                </div>
            </div>

            <div class="create-document__body">
                <div class="create-document__body__table-container">
                    <div class="tbl-header">
                        <table cellpadding="0" cellspacing="2" border="0">
                            <thead>
                                <tr>
                                    <th class="row-number">Nº</th>
                                    <th class="container-code">Envase</th>
                                    <th class="container-name">Nombre</th>
                                    <th class="container-weight">Peso Env.</th>
                                    <th class="container-amount">Cantidad</th>
                                    <th class="product-code">Producto</th>
                                    <th class="product-name">Nombre</th>
                                    <th class="cut">DESCARTE</th>
                                    <th class="product-price">Precio</th>
                                    <th class="product-kilos">Kilos</th>
                                    <th class="product-total">Total</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="tbl-content">
                        <table cellpadding="0" cellspacing="2" border="0">
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="create-document__body__document-comments">
                    <textarea spellcheck="false" name="" class="create-document__comments"
                        data-prev-tab-selector=".content-container.active .create-document__body__table-container tbody tr:last-child .product-kilos input" 
                        data-next-tab-selector=".content-container.active .create-document__footer__back-btn .widget"
                    ></textarea>
                    <label>Ingresar observaciones al documento</label>
                </div>
            </div>

            <div class="create-document__footer">
                <div class="row">
                    <div class="create-document__footer__buttons">
                        <div class="create-document__footer create-document__footer__back-btn">
                            <div class="widget" tabindex="-1" 
                            data-prev-tab-selector=".content-container.active .create-document__comments" 
                            data-next-tab-selector=".content-container.active .create-document__footer__print-document .widget">
                                <div class="widget-container">
                                    <div class="widget-icon"></div>
                                    <div class="widget-button">
                                        <i class="far fa-angle-double-left"></i>
                                        <p>SALIR</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="create-document__footer create-document__footer__print-document">
                            <div class="widget" tabindex="-1" 
                            data-prev-tab-selector=".content-container.active .create-document__footer__back-btn .widget" 
                            data-next-tab-selector=".content-container.active .create-document__footer__delete-btn .widget">
                                <div class="widget-container">
                                    <div class="widget-icon"></div>
                                    <div class="widget-button">
                                        <i class="fal fa-print"></i>
                                        <p>IMPRIMIR</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="create-document__footer create-document__footer__delete-btn">
                            <div class="widget" tabindex="-1" 
                                data-prev-tab-selector=".content-container.active .create-document__footer__print-document .widget" 
                                data-next-tab-selector=".content-container.active .create-document__footer__doc-type .widget"
                            >
                                <div class="widget-container">
                                    <div class="widget-icon"></div>
                                    <div class="widget-button">
                                        <i class="fal fa-trash-alt"></i>
                                        <p>ANULAR</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="create-document__footer create-document__footer__doc-type">
                            <div class="widget" tabindex="-1"
                                data-prev-tab-selector=".content-container.active .create-document__footer__delete-btn .widget" 
                                data-next-tab-selector=".content-container.active .create-document__footer__electronic .widget"
                            >
                                <div class="widget-container">
                                    <div class="select-effect has-content">
                                        <p>TRASLADO</p>
                                        <select>
                                            <option value="" hidden=""></option>
                                            <option value="1">TRASLADO</option>
                                            <option value="2">VENTA</option>
                                            <option value="3">DEVOLUCION</option>
                                        </select>
                                        <i class="far fa-chevron-down"></i>
                                        <label>TIPO DOC.</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="create-document__footer create-document__footer__electronic">
                            <div class="widget" tabindex="-1"
                                data-prev-tab-selector=".content-container.active .create-document__footer__doc-type .widget" 
                                data-next-tab-selector=".content-container.active .create-document__doc-number input"
                            >
                                <div class="widget-container">
                                    <div class="widget-icon"></div>
                                    <div class="widget-button">
                                        <span>DOCUMENTO<br>ELECTRONICO</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="create-document__footer create-document__footer__total-containers">
                            <div class="widget">
                                <div class="widget-container">
                                    <div class="widget-icon"></div>
                                    <div class="widget-data">
                                        <h5>TOTAL ENVASES</h5>
                                    </div>
                                    <hr>
                                    <div class="widget-data">
                                        <p>0</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="create-document__footer create-document__footer__total-product-kilos">
                            <div class="widget">
                                <div class="widget-container">
                                    <div class="widget-icon"></div>
                                    <div class="widget-data">
                                        <h5>TOTAL KILOS</h5>
                                    </div>
                                    <hr>
                                    <div class="widget-data">
                                        <p>0</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="create-document__footer create-document__footer__total-document">
                            <div class="widget">
                                <div class="widget-container">
                                    <div class="widget-icon"></div>
                                    <div class="widget-data">
                                        <h5>TOTAL DOC.</h5>
                                    </div>
                                    <hr>
                                    <div class="widget-data">
                                        <p>$0</p>
                                    </div>
                                </div>
                            </div>
                        </div>										
                    </div>
                </div>
            </div>
        </div>

        <div class="close-btn-absolute">
            <div>
                <i class="fas fa-times"></i>
            </div>
        </div>

    </div>
</div>