<div id="kilos-breakdown-container">
    <div id="kilos-breakdown">
        <div id="close-kilos-breakdown-container">
            <div id="close-kilos-breakdown">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="create-document-absolute">
            <div class="header">
                <h3>DESGLOCE DE KILOS</h3>
            </div>
            <div class="body"></div>
            <div class="footer">

                <div id="kilos-breakdown__final-net-weight" class="kilos-breakdown__footer">
                    <div class="widget" tabindex="-1">
                        <div class="widget-container">
                            <div class="widget-button">
                                <i class="fal fa-balance-scale-right"></i>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="kilos-breakdown__total-difference" class="kilos-breakdown__footer">
                    <div class="widget" tabindex="-1">
                        <div class="widget-container">
                            <div class="widget-button">
                                <i class="far fa-not-equal"></i>
                                <p>0 KILOS<br>DIFERENCIA</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="kilos-breakdown__average-by-bins-amount" class="kilos-breakdown__footer">
                    <div class="widget" tabindex="-1">
                        <div class="widget-container">
                            <div class="widget-button">
                                <i class="fal fa-cube"></i>
                                <p>DESGLOCE<br>POR BINS</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="kilos-breakdown__average-by-kilos-informed" class="kilos-breakdown__footer">
                    <div class="widget" tabindex="-1">
                        <div class="widget-container">
                            <div class="widget-button">
                                <i class="fal fa-info-circle"></i>
                                <p>DESGLOCE POR<br>KG INFORMADO</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="kilos-breakdown__upload-data" class="kilos-breakdown__footer">
                    <div class="widget-tooltip red hidden">
                        <span>Diferencia de kilos pendiente</span>
                    </div>
                    <div class="widget" tabindex="-1">
                        <div class="widget-container">
                            <div class="widget-button">
                                <i class="fal fa-cloud-upload"></i>
                                <p>GUARDAR<br>DESGLOCE</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>