<div class="finished-weight__modal-container active">
    
    <div class="close-btn-absolute">
        <div>
            <i class="fas fa-times"></i>
        </div>
    </div>

    <div class="finished-weight__message-container">
        <div>
            <div class="finished-weight__message">
                
            </div>
        </div>
    </div>

    <div class="finished-weight__modal-btns">
        <div class="finished-weight__change-body-view">
            <div class="widget-tooltip">
                <span>CAMBIAR VISTA</span>
            </div>
            <i class="far fa-eye"></i>
        </div>
        <div class="finished-weight__kilos_breakdown">
            <div class="widget-tooltip">
                <span>DESGLOCE DE KILOS</span>
            </div>
            <i class="fal fa-wand-magic"></i>
        </div>
        <div class="finished-weight__add-docs">
            <div class="widget-tooltip">
                <span>AGREGAR DOCUMENTO</span>
            </div>
            <i class="fal fa-files-medical"></i>
        </div>
        <div class="finished-weight__add-tare-containers">
            <div class="widget-tooltip">
                <span>AGREGAR ENVASES TARA</span>
            </div>
            <i class="fal fa-cubes"></i>
        </div>
        <div class="finished-weight__print">
            <div class="widget-tooltip">
                <span>IMPRIMIR PESAJE</span>
            </div>
            <i class="far fa-print"></i>
        </div>
        <div class="finished-weight__change-to-pending">
            <div class="widget-tooltip">
                <span>DEJAR COMO PENDIENTE</span>
            </div>
            <i class="fas fa-recycle"></i>
        </div>
        <div class="finished-weight__annul">
            <div class="widget-tooltip">
                <span>ANULAR PESAJE</span>
            </div>
            <i class="far fa-trash-alt"></i>
        </div>
    </div>

    <div class="finished-weight__modal__weight-data-container">

        <div class="finished-weight__modal__weight-data">

            <div class="widget finished-weight__modal__created">
                <div class="widget-container">
                    <div class="widget-icon">
                        <i class="fad fa-calendar-alt"></i>
                    </div>
                    <div class="widget-data">
                        <h5>CREADO</h5>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="widget finished-weight__modal__user">
                <div class="widget-container">
                    <div class="widget-icon">
                        <i class="fad fa-users"></i>
                    </div>
                    <div class="widget-data">
                        <h5>USUARIO</h5>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="widget finished-weight__modal__vehicle">
                <div class="widget-container">
                    <div class="widget-icon">
                        <i class="fal fa-truck-container"></i>
                    </div>
                    <div class="widget-data">
                        <h5>VEHICULO</h5>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="widget finished-weight__modal__driver">
                <div class="widget-container">
                    <div class="widget-icon">
                        <i class="fad fa-users-cog"></i>
                    </div>
                    <div class="widget-data">
                        <h5>CHOFER</h5>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="widget finished-weight__modal__net-weight">
                <div class="widget-container">
                    <div class="widget-icon">
                        <i class="fal fa-balance-scale-right"></i>
                    </div>
                    <div class="widget-data">
                        <h5>NETO FINAL</h5>
                        <p></p>
                    </div>
                </div>
            </div>

        </div>

        <div class="widget finished-weight__modal__weight-kilos">
            
            <div class="table-header">
                <table>
                    <thead>
                        <tr>
                            <th class="process">PROCESO</th>
                            <th class="date">FECHA</th>
                            <th class="user">USUARIO</th>
                            <th class="type">TIPO</th>
                            <th class="weight">PESO</th>
                            <th class="containers">ENVASES</th>
                            <th class="net">NETO</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="table-body">
                <table>
                    <tbody>
                        <tr>
                            <td class="process">BRUTO</td>
                            <td class="date"></td>
                            <td class="user"></td>
                            <td class="type"></td>
                            <td class="weight"></td>
                            <td class="containers"></td>
                            <td class="net"></td>
                        </tr>
                        <tr>
                            <td class="process">TARA</td>
                            <td class="date"></td>
                            <td class="user"></td>
                            <td class="type"></td>
                            <td class="weight"></td>
                            <td class="containers"></td>
                            <td class="net"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="finished-weight__modal__comments-container">

            <div class="widget">
                <div class="widget-container">
                    <div class="widget-icon">
                        <i class="fal fa-comment-alt-lines"></i>
                    </div>
                    <div class="finished-weight__modal__comments finished-weight__modal__gross-comments">
                        <textarea spellcheck="false" cols="30" rows="10"></textarea>
                        <label>Observaciones Peso Bruto:</label>
                    </div>
                </div>
            </div>

            <div class="widget finished-weight__modal__tare-comments">
                <div class="widget-container">
                    <div class="widget-icon">
                        <i class="fal fa-comment-alt-lines"></i>
                    </div>
                    <div class="finished-weight__modal__comments finished-weight__modal__brute-comments">
                        <textarea spellcheck="false" cols="30" rows="10"></textarea>
                        <label>Observaciones Peso Tara:</label>
                    </div>
                </div>
            </div>

        </div>

        <div class="finished-weight__modal__documents">
            <div>
                <div class="finished-weight__modal__documents-container"></div>
            </div>
            
        </div>

        <div class="finished-weight__modal__btns">
            
            <div class="widget">
                <div class="widget-container">
                    <div class="widget-icon">
                        <i class="fal fa-print"></i>
                    </div>
                    <div class="widget-data">
                        <h4>IMPRIMIR</h4>
                        <h4>PESAJE</h4>
                    </div>
                </div>
            </div>

            <div class="widget">
                <div class="widget-container">
                    <div class="widget-icon">
                        <i class="fad fa-users-cog"></i>
                    </div>
                    <div class="widget-data">
                        <h4></h4>
                        <h4>PESAJE</h4>
                    </div>
                </div>
            </div>

            <div class="widget">
                <div class="widget-container">
                    <div class="widget-icon">
                        <i class="fad fa-trash-alt"></i>
                    </div>
                    <div class="widget-data">
                        <h4>ANULAR</h4>
                        <h4>PESAJE</h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>