<div id="create-weight__change-cycle-type-container">
    <div id="create-weight__change-cycle-type">
        <div class="create-document-absolute">
            <div class="header">
                <h3>CICLO DE PESAJE</h3>
            </div>
            <div class="body">
                <div class="select-cycle-type-container">
                    <div class="select-cycle-type" data-type="1">
                        <i class="fad fa-check"></i>
                        <h5>RECEPCION</h5>
                    </div>
                    <div class="select-cycle-type" data-type="2">
                        <i class="fad fa-check"></i>
                        <h5>DESPACHO</h5>
                    </div>
                    <div class="select-cycle-type" data-type="3">
                        <i class="fad fa-check"></i>
                        <h5>INTERNO</h5>
                    </div>
                    <div class="select-cycle-type" data-type="4">
                        <i class="fad fa-check"></i>
                        <h5>SERVICIO</h5>
                    </div>
                </div>
                <div class="select-cycle-type-description">
                    <p data-type="1">El ciclo de <b>RECEPCION</b> es usado para la <b>COMPRA</b> de fruta.</p>
                    <p data-type="2">El ciclo de <b>DESPACHO</b> es usado para la <b>VENTA</b> de fruta.</p>
                    <p data-type="3">El ciclo <b>INTERNO</b> es usado para pesaje de pasas recogidas desde el secado y que ingresan a bodega.</p>
                    <p data-type="4">El ciclo de <b>SERVICIO</b> es usado para pesajes de camiones externos cuya carga no es recepcionada por la empresa.</p>
                </div>
            </div>
            <div class="footer">
                <div class="create-document-btns-container">
                    <button id="create-weight__change-cycle__close-modal" class="svg-wrapper enabled red" data-prev-tab-selector="#create-document__origin-entity-list li:first-child">
                        <svg height="45" width="160" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="45" width="160" />
                        </svg>
                        <div class="desc-container">
                            <i class="fas fa-times-circle"></i>
                            <p>CANCELAR</p>
                        </div>
                    </button>
                    <button id="create-weight__change-cycle__set-cycle" class="svg-wrapper enabled green">
                        <svg height="45" width="160" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="45" width="160" />
                        </svg>
                        <div class="desc-container">
                            <i class="fas fa-check-circle"></i>
                            <p>ACEPTAR</p>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>