<div id="vehicles__create-edit-vehicles__container">

    <div id="vehicles__create-edit-vehicles">

        <div class="create-edit-vehicles">
            <h3>EDITAR VEHICULO</h3>
        </div>

        <div class="create-edit-vehicles">
            
        </div>

        <div class="create-edit-vehicles">
            

        </div>

        <div class="create-edit-vehicles">
            
        </div>
        
        <div class="create-edit-vehicles">
            
        </div>

    </div>

    <div class="close-btn-absolute">
        <div>
            <i class="fas fa-times"></i>
        </div>
    </div>

</div>