<div id="finished-weight__modal"></div>

<div class="close-btn-absolute">
    <div>
        <i class="fas fa-times"></i>
    </div>
</div>

<div class="card purple">
    <div class="new-weight-icon purple">
        <i class="far fa-check"></i>
    </div>

    <h2 id="finished-weight__header"></h2>

    <div id="finished-weight__filters">
        
        <div id="finished-weights__print-weight" class="finished-weight__filter">
            <div>
                <i class="far fa-print"></i>
            </div>
            <p>IMPRIMIR</p>
        </div>

        <div class="finished-weight__filter">
            
            <input id="finished-weight__start-date" type="date" class="input-effect has-content">
            <label>FECHA INICIAL</label>
            <span class="focus-border"></span>
        </div>

        <div class="finished-weight__filter">
            <input id="finished-weight__end-date" type="date" class="input-effect has-content">
            <label>FECHA FINAL</label>
            <span class="focus-border"></span>							
        </div>

        <div class="finished-weight__filter">
            <input id="finished-weight__weight-id" type="text" class="input-effect">
            <label>PESAJE</label>
            <span class="focus-border"></span>
        </div>

        <div class="finished-weight__filter">
            <input id="finished-weight__plates" type="text" class="input-effect">
            <label>PATENTE</label>
            <span class="focus-border"></span>
        </div>

        <div class="finished-weight__filter">
            <input id="finished-weight__driver" type="text" class="input-effect">
            <label>CHOFER</label>
            <span class="focus-border"></span>
        </div>

        <div class="finished-weight__filter">
            
            <div id="finished-weight__cycle-input" class="reception">
                <i class="fad fa-arrow-down"></i>
                <input type="text" class="input-effect has-content">
                <label>CICLO</label>
                <span class="focus-border"></span>
            </div>

            <div id="finished-weight__cycle-dropdown">
                <div class="finished-weight__cycle-dropdown active" data-cycle="1">
                    <i class="fad fa-arrow-down"></i>
                    <span>RECEPCION</span>
                </div>
                <div class="finished-weight__cycle-dropdown" data-cycle="2">
                    <i class="fad fa-arrow-up"></i>
                    <span>DESPACHO</span>
                </div>
                <div class="finished-weight__cycle-dropdown" data-cycle="3">
                    <i class="fad fa-arrow-up"></i>
                    <span>INTERNO</span>
                </div>
                <div class="finished-weight__cycle-dropdown" data-cycle="4">
                    <i class="fad fa-arrow-up"></i>
                    <span>SERVICIO</span>
                </div>

            </div>
        </div>

    </div>
    <div id="finished-weight__table">
        <div class="table-head">
            <table>
                <thead>
                    <tr>
                        <th class="edit">EDITAR</th>
                        <th class="weight">PESAJE</th>
                        <th class="date">FECHA</th>
                        <th class="plates">PATENTE</th>
                        <th class="driver">CHOFER</th>
                        <th class="brute">BRUTO</th>
                        <th class="tare">TARA</th>
                        <th class="final">NETO</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="table-body">
            <table>
                <tbody></tbody>
            </table>
        </div>						
    </div>
</div>