<div class="row">
    <div id="home-modal__navigation">
        <div data-navigation="prev">
            <i class="far fa-chevron-left"></i>
        </div>
        <div data-navigation="next">
            <i class="far fa-chevron-right"></i>
        </div>
    </div>

    <div id="home-modal__close">
        <i class="fas fa-times-circle"></i>
    </div>
    <div id="home-modal__product-container">
        <div id="home-modal__product-img">
            <div style="background-image:url('./images/grapes/uifg3.jpeg')"></div>
        </div>
        <h3></h3>
    </div>
    <div id="home-modal__clients-container">
        <div id="home-modal__clients">
            <div class="table-header">
                <table>
                    <thead>
                        <tr>
                            <th class="client">CLIENTE</th>
                            <th class="kilos">KILOS</th>
                            <th class="percentage">FRACCION</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="table-body">
                <table>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="home-modal__kilos-container">
            
            <div class="home-modal__kilos">
                <div class="home-modal__kilos-icon">
                    <i class="fal fa-chart-line"></i>
                </div>
                <div class="home-modal__kilos-data">
                    <h4>TOTAL</h4>
                    <p></p>
                </div>
            </div>

            <div class="home-modal__kilos">
                <div class="home-modal__kilos-icon">
                    <i class="fal fa-info"></i>
                </div>
                <div class="home-modal__kilos-data">
                    <h4>PARRON</h4>
                    <p></p>
                </div>
            </div>
            
            <div class="home-modal__kilos">
                <div class="home-modal__kilos-icon">
                    <i class="fal fa-info"></i>
                </div>
                <div class="home-modal__kilos-data">
                    <h4>PACKING</h4>
                    <p></p>
                </div>
            </div>
            
        </div>
    </div>
</div>