<nav class="breadcrumb">
    <ul id="analytics__breadcrumb">
        <li>
            <i class="fal fa-analytics"></i>
            <h4>INFORMES y ESTADISTICAS</h4>
        </li>
    </ul>
</nav>

<div class="content config">
    
    <div id="analytics__main-grid" class="active">

        <div id="analytics__products-movements-btn" class="card small purple">

            <h4 class="new-weight-header">KILOS PRODUCTOS</h4>
            <div class="new-weight-icon green">
                <i class="fal fa-list-ul"></i>
            </div>
        
        </div>

        <div id="analytics__containers-stock-btn" class="card small red">

            <h4 class="new-weight-header">STOCK ENVASES</h4>
            <div class="new-weight-icon green">
                <i class="fal fa-cubes"></i>
            </div>
        
        </div>

        <div class="card small orange">

            <h4 class="new-weight-header">INFORMES PROVEEDORES</h4>
            <div class="new-weight-icon green">
                <i class="fad fa-handshake"></i>
            </div>
        
        </div>

        <div class="card small green">

            <h4 class="new-weight-header">INFORMES CHOFERES</h4>
            <div class="new-weight-icon green">
                <i class="fal fa-users"></i>
            </div>
        
        </div>

    </div>

    <div id="analytics__products-movements" class="hidden">

    </div>

    <div id="analytics__containers-stock" class="hidden">

        <div id="analytics__entities-table">

            <div class="table-header">
                <div class="table">
                    <div class="thead">
                        <div class="tr">
                            <div class="th type">TIPO</div>
                            <div class="th name">RAZON SOCIAL</div>
                            <div class="th initial">STOCK INICIAL</div>
                            <div class="th receptions">DESPACHOS</div>
                            <div class="th dispatches">RECEPCIONES</div>
                            <div class="th stock">STOCK ACTUAL</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-content">
                <div class="table">
                    <div class="tbody">

                    </div>
                </div>
            </div>

            <div class="close-btn-absolute">
                <div>
                    <i class="fas fa-times"></i>
                </div>
            </div>

        </div>

        <div id="analytics__entities-stock-movements" class="hidden">

            

        </div>

    </div>
</div>