<div id="finished-weight__modal"></div>

<div class="card purple">
    <div class="new-weight-icon purple">
        <i class="far fa-check"></i>
    </div>

    <h2 id="finished-weight__header"></h2>

    <div id="finished-weight__filters">

        <div class="finished-weight__filter">
            <input id="finished-weight__start-date" type="date" class="input-effect has-content">
            <label>FECHA INICIAL</label>
            <span class="focus-border"></span>
        </div>

        <div class="finished-weight__filter">
            <input id="finished-weight__end-date" type="date" class="input-effect has-content">
            <label>FECHA FINAL</label>
            <span class="focus-border"></span>							
        </div>

        <div class="finished-weight__filter">
            <input id="finished-weight__weight-id" type="text" class="input-effect">
            <label>PESAJE</label>
            <span class="focus-border"></span>
        </div>

        <div class="finished-weight__filter">
            <input id="finished-weight__plates" type="text" class="input-effect">
            <label>PATENTE</label>
            <span class="focus-border"></span>
        </div>

        <div class="finished-weight__filter">
            <input id="finished-weight__driver" type="text" class="input-effect">
            <label>CHOFER</label>
            <span class="focus-border"></span>
        </div>

        <div class="finished-weight__filter">

            <div class="select-effect has-content">
                <p>TODOS</p>
                <select id="finished-weight__cycle-select">
                    <option value="" hidden=""></option>
                    <option selected="" value="All">TODOS</option>
                    <option value="1">RECEPCION</option>
                    <option value="2">DESPACHO</option>
                    <option value="3">INTERNO</option>
                    <option value="4">SERVICIO</option>
                </select>
                <i class="far fa-chevron-down"></i>
                <label>CICLO</label>
                <span class="focus-border"></span>
            </div>
            
        </div>

    </div>
    
    <div id="finished-weight__table">
        <div class="table-head">
            <table>
                <thead>
                    <tr>
                        <th class="line">Nº</th>
                        <th class="weight active">
                            <div class="th-container">
                                <i class="fas fa-chevron-down"></i>
                                <span>PESAJE</span>
                            </div>
                        </th>
                        <th class="cycle">
                            <div class="th-container">
                                <i class="fas fa-chevron-down"></i>
                                <span>CICLO</span>
                            </div>
                        </th>
                        <th class="created">
                            <div class="th-container">
                                <i class="fas fa-chevron-down"></i>
                                <span>FECHA</span>
                            </div>
                        </th>
                        <th class="plates">
                            <div class="th-container">
                                <i class="fas fa-chevron-down"></i>
                                <span>PATENTE</span>
                            </div>
                        </th>
                        <th class="driver">
                            <div class="th-container">
                                <i class="fas fa-chevron-down"></i>
                                <span>CHOFER</span>
                            </div>
                        </th>
                        <th class="brute">
                            <div class="th-container">
                                <i class="fas fa-chevron-down"></i>
                                <span>BRUTO</span>
                            </div>
                        </th>
                        <th class="tare">
                            <div class="th-container">
                                <i class="fas fa-chevron-down"></i>
                                <span>TARA</span>
                            </div>
                        </th>
                        <th class="net">
                            <div class="th-container">
                                <i class="fas fa-chevron-down"></i>
                                <span>NETO</span>
                            </div>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="table-body">
            <table>
                <tbody></tbody>
            </table>
        </div>						
    </div>
</div>

