<div id="companies-grid" class=""></div>

<div id="companies__entities-list" class="hidden">
    
    <div id="companies__entities-list-filters">

        <div>
            <div class="select-effect has-content">
                <p>TODOS</p>
                <select id="companies__entities-list-type-select">
                    <option value="" hidden=""></option>
                    <option selected="" value="All">TODOS</option>
                </select>
                <i class="far fa-chevron-down"></i>
                <label>TIPO EMPRESA</label>
                <span class="focus-border"></span>
            </div>
        </div>

        <div>
            <input id="companies__entities-list__name-search" type="text" class="input-effect">
            <label>Buscar</label>
            <span class="focus-border"></span>
        </div>

        <div>
            <div class="select-effect has-content">
                <p></p>
                <select id="companies__entities-list__season-select"></select>
                <i class="far fa-chevron-down"></i>
                <label>TEMPORADA</label>
                <span class="focus-border"></span>
            </div>
        </div>

    </div>

    <div id="companies__entities-list-container">

        <div class="close-btn-absolute">
            <div>
                <i class="fas fa-times"></i>
            </div>
        </div>

        <div class="header">
            <div class="table-header">
                <table>
                    <thead>
                        <tr>
                            <th class="type">
                                <div>
                                    <i class="fas fa-chevron-down"></i>
                                    <span>TIPO</span>
                                </div>
                            </th>
                            <th class="rut">
                                <div>
                                    <i class="fas fa-chevron-down"></i>
                                    <span>RUT</span>
                                </div>
                            </th>
                            <th class="name active">
                                <div>
                                    <i class="fas fa-chevron-down"></i>
                                    <span>RAZON SOCIAL</span>
                                </div>
                            </th>
                            <th class="kilos">
                                <div>
                                    <i class="fas fa-chevron-down"></i>
                                    <span>KILOS</span>
                                </div>
                            </th>
                            <th class="debits">
                                <div>
                                    <i class="fas fa-chevron-down"></i>
                                    <span>ABONOS</span>
                                </div>
                            </th>
                            <th class="credits">
                                <div>
                                    <i class="fas fa-chevron-down"></i>
                                    <span>CARGOS</span>
                                </div>
                            </th>
                            <th class="balance">
                                <div>
                                    <i class="fas fa-chevron-down"></i>
                                    <span>SALDO</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    
        <div class="body">
            <div class="table-body">
                <table>
                    <tbody></tbody>
                </table>
            </div>
        </div>

    </div>

</div>