<div id="generate-electronic-document" class="create-document-absolute active">
    <div class="header">
        <h3>GUIA ELECTRONICA</h3>
    </div>
    <div class="body">
        <div id="electronic-document__body">

            <div id="electronic-document__progress-steps">
                <div class="progress-container">
                    <div data-pct="0">
                        <svg width="100" height="100" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <circle r="45" cx="50" cy="50" fill="transparent" stroke-dasharray="282.74" stroke-dashoffset="0"></circle>
                            <circle r="45" cx="50" cy="50" fill="transparent" stroke-dasharray="282.74" stroke-dashoffset="0" style="stroke-dashoffset: 282.743px;"></circle>
                        </svg>
                    </div>
                    <input name="percent" type="hidden" value="0">
                </div>
            </div>

            <div id="electronic-document__progress-description">
                <p>Generando guía electrónica</p>
            </div>
            
        </div>
    </div>
    <div class="footer">
        <div class="create-document-btns-container">
            <button class="svg-wrapper enabled red" >
                <svg height="45" width="160" xmlns="http://www.w3.org/2000/svg">
                    <rect class="shape" height="45" width="160"></rect>
                </svg>
                <div class="desc-container">
                    <i class="fas fa-times-circle"></i>
                    <p>CANCELAR</p>
                </div>
            </button>										
        </div>
    </div>
</div>