<div id="weight__tare-containers__add-container">
    <div id="weight__tare-containers__add">

        <div class="create-document-absolute">
            <div class="header">
                <div id="weight__tare-containers__close">
                    <i class="fas fa-times"></i>
                </div>
                <h3>ENVASES PESO TARA</h3>
            </div>
            <div class="body">
                <div id="weight__tare-containers__add-table">
                    <div class="table-header">
                        <table>
                            <thead>
                                <tr>
                                    <th class="line-number">Nº</th>
                                    <th class="delete">BORRAR</th>
                                    <th class="code">CODIGO</th>
                                    <th class="description">DESCRIPCION</th>
                                    <th class="weight">PESO</th>
                                    <th class="amount">CANTIDAD</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table-body">
                        <table>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="create-document-btns-container">
                    
                    <button id="weight__tare-containers__accept-btn" class="svg-wrapper enabled green">
                        <svg height="45" width="160" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="45" width="160" />
                        </svg>
                        <div class="desc-container">
                            <i class="fas fa-check-circle"></i>
                            <p>ACEPTAR</p>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>