<div id="create-weight__take-weight-container">
    <div id="create-weight__take-weight">
        <div class="create-document-absolute">
            <div class="header">
                <h3>CAPTURAR PESAJE</h3>
            </div>
            <div class="body">
                <div id="create-weight__take-weight__weight">
                    <div id="take-weight__manual-container">
                        <input spellcheck="false" id="take-weight__manual-input" type="text" class="input-effect" maxlength="5">
                        <label>Ingresar Pesaje</label>
                        <span class="focus-border"></span>
                    </div>
                    <p></p>
                </div>
                <div id="create-weight__status-container">
                    <div class="take-weight__connection-status connection-ok">
                        <div class="status-btn"></div>
                        <p>ESTADO<br>CONEXION</p>
                    </div>
                    <div class="take-weight__connection-status">
                        <div class="status-btn tara"></div>
                        <p>TARA<br>MANUAL</p>

                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="create-document-btns-container">
                    <button id="create-weight__take-weight_close-modal" class="svg-wrapper enabled red" data-prev-tab-selector="#create-document__origin-entity-list li:first-child">
                        <svg height="45" width="160" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="45" width="160" />
                        </svg>
                        <div class="desc-container">
                            <i class="fas fa-times-circle"></i>
                            <p>CANCELAR</p>
                        </div>
                    </button>
                    <button id="create-weight__take-weight__set-weight" class="svg-wrapper enabled green">
                        <svg height="45" width="160" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="45" width="160" />
                        </svg>
                        <div class="desc-container">
                            <i class="fas fa-check-circle"></i>
                            <p>ACEPTAR</p>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>