<nav class="breadcrumb">
    <ul id="analytics__breadcrumb">
        <li>
            <i class="fal fa-analytics"></i>
            <h4>INFORMES y ESTADISTICAS</h4>
        </li>
    </ul>
</nav>

<div class="content config">
    
    <div id="analytics__main-grid" class="active">

        <div id="analytics__products-movements-btn" class="card small purple">

            <h4 class="new-weight-header">KILOS PRODUCTOS</h4>
            <div class="new-weight-icon green">
                <i class="fal fa-list-ul"></i>
            </div>
        
        </div>

        <div id="analytics__containers-stock-btn" class="card small red">

            <h4 class="new-weight-header">STOCK ENVASES</h4>
            <div class="new-weight-icon green">
                <i class="fal fa-cubes"></i>
            </div>
        
        </div>

        <div class="card small orange">

            <h4 class="new-weight-header">INFORMES PROVEEDORES</h4>
            <div class="new-weight-icon green">
                <i class="fad fa-handshake"></i>
            </div>
        
        </div>

        <div id="analytics__drivers-reports-btn" class="card small green">

            <h4 class="new-weight-header">INFORMES CHOFERES</h4>
            <div class="new-weight-icon green">
                <i class="fal fa-users"></i>
            </div>
        
        </div>

    </div>

    <div id="analytics__products-movements" class="hidden">

    </div>

    <div id="analytics__containers-stock" class="hidden">

        <div id="analytics__entities-table">

            <div class="table-header">
                <div class="table">
                    <div class="thead">
                        <div class="tr">
                            <div class="th type">TIPO</div>
                            <div class="th name">RAZON SOCIAL</div>
                            <div class="th initial">STOCK INICIAL</div>
                            <div class="th receptions">DESPACHOS</div>
                            <div class="th dispatches">RECEPCIONES</div>
                            <div class="th stock">STOCK ACTUAL</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-content">
                <div class="table">
                    <div class="tbody">

                    </div>
                </div>
            </div>

            <div class="close-btn-absolute">
                <div>
                    <i class="fas fa-times"></i>
                </div>
            </div>

        </div>

        <div id="analytics__entities-stock-movements" class="hidden">

            

        </div>

    </div>

    <div id="analytics__drivers-table" class="hidden">

        <div class="header">

        </div>

        <div class="body">
            <div id="analytics__drivers-table__filters">

                <div class="select-effect has-content">
                    <p>INTERNO</p>
                    <select id="analytics__drivers-filters__type">
                        <option value="" hidden=""></option>
                        <option value="All">TODOS</option>
                        <option selected value="1">INTERNO</option>
                        <option value="2">EXTERNO</option>
                    </select>
                    <i class="far fa-chevron-down"></i>
                    <label>TIPO</label>
                    <span class="focus-border"></span>
                </div>

                <div class="select-effect has-content">
                    <p>ACTIVO</p>
                    <select id="analytics__drivers-filters__active">
                        <option value="" hidden=""></option>
                        <option value="All">TODOS</option>
                        <option selected value="1">ACTIVO</option>
                        <option value="2">INACTIVO</option>
                    </select>
                    <i class="far fa-chevron-down"></i>
                    <label>ACTIVOS</label>
                    <span class="focus-border"></span>
                </div>

                <div>
                    <input id="analytics__drivers-filters__start-date" type="date" class="input-effect has-content">
                    <label>FECHA INICIAL</label>
                    <span class="focus-border"></span>
                </div>

                <div>
                    <input id="analytics__drivers-filters__end-date" type="date" class="input-effect has-content">
                    <label>FECHA FINAL</label>
                    <span class="focus-border"></span>							
                </div>

                <div class="select-effect has-content">
                    <p>RECEPCION</p>
                    <select id="analytics__drivers-filters__cycle">
                        <option value="" hidden=""></option>
                        <option value="All">TODOS</option>
                        <option value="1" selected>RECEPCION</option>
                        <option value="2">DESPACHO</option>
                    </select>
                    <i class="far fa-chevron-down"></i>
                    <label>CICLO</label>
                    <span class="focus-border"></span>
                </div>

            </div>
            <div id="analytics__drivers-table__table-container">

                <div class="table-header">
                    <table>
                        <thead>
                            <tr>
                                <th class="name selected">
                                    <div>
                                        <i class="fas fa-chevron-down"></i>
                                        <span>NOMBRE</span>
                                    </div>    
                                </th>
                                <th class="rut">
                                    <div>
                                        <i class="fas fa-chevron-down"></i>
                                        <span>RUT</span>
                                    </div>
                                </th>
                                <th class="phone">
                                    <div>
                                        <i class="fas fa-chevron-down"></i>
                                        <span>TELEFONO</span>                                    
                                    </div>
                                </th>
                                <th class="internal">
                                    <div>
                                        <i class="fas fa-chevron-down"></i>
                                        <span>INTERNO</span>    
                                    </div>
                                </th>
                                <th class="active">
                                    <div>
                                        <i class="fas fa-chevron-down"></i>
                                        <span>ACTIVO</span>    
                                    </div>
                                </th>
                                <th class="kilos">
                                    <div>
                                        <i class="fas fa-chevron-down"></i>
                                        <span>TOTAL</span>    
                                    </div>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
                
                <div class="table-body">
                    <table>
                        <tbody>
                            <tr>
                                <td class="name">Ramon Navarro</td>
                                <td class="rut">9.367.447-2</td>
                                <td class="phone">9 5689 1234</td>
                                <td class="internal">
                                    <div>
                                        <i class="far fa-check"></i>
                                    </div>
                                </td>
                                <td class="active">
                                    <div>
                                        <i class="far fa-check"></i>
                                    </div>
                                </td>
                                <td class="total">87.456 KG</td>
                            </tr>
                            <tr>
                                <td class="name">Ramon Navarro</td>
                                <td class="rut">9.367.447-2</td>
                                <td class="phone">9 5689 1234</td>
                                <td class="internal">
                                    <div>
                                        <i class="far fa-check"></i>
                                    </div>
                                </td>
                                <td class="active">
                                    <div>
                                        <i class="far fa-check"></i>
                                    </div>
                                </td>
                                <td class="total">87.456 KG</td>
                            </tr>
                            <tr>
                                <td class="name">Ramon Navarro</td>
                                <td class="rut">9.367.447-2</td>
                                <td class="phone">9 5689 1234</td>
                                <td class="internal">
                                    <div>
                                        <i class="far fa-check"></i>
                                    </div>
                                </td>
                                <td class="active">
                                    <div>
                                        <i class="far fa-check"></i>
                                    </div>
                                </td>
                                <td class="total">87.456 KG</td>
                            </tr>
                            <tr>
                                <td class="name">Ramon Navarro</td>
                                <td class="rut">9.367.447-2</td>
                                <td class="phone">9 5689 1234</td>
                                <td class="internal">
                                    <div>
                                        <i class="far fa-check"></i>
                                    </div>
                                </td>
                                <td class="active">
                                    <div>
                                        <i class="far fa-check"></i>
                                    </div>
                                </td>
                                <td class="total">87.456 KG</td>
                            </tr>
                            <tr>
                                <td class="name">Ramon Navarro</td>
                                <td class="rut">9.367.447-2</td>
                                <td class="phone">9 5689 1234</td>
                                <td class="internal">
                                    <div>
                                        <i class="far fa-check"></i>
                                    </div>
                                </td>
                                <td class="active">
                                    <div>
                                        <i class="far fa-check"></i>
                                    </div>
                                </td>
                                <td class="total">87.456 KG</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="close-btn-absolute">
                    <div>
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">

        </div>

        
        
    </div>
</div>