<div id="home-products-container">
    <div id="home-modal">
        <div id="home-modal__data">
            
        </div>
    </div>

    <div id="home-data">
        
        <div id="home-statistics">
            <div id="home-statistics__cycle" class="home-statistics" data-cycle="1">
                <div class="stats-icon">
                    <i class="fad fa-arrow-down"></i>
                </div>
                <div class="stats-data">
                    <h4>CICLO</h4>
                    <p>RECEPCION</p>
                </div>
                <div class="dropdown-container">
                    <div class="dropdown">
                        <div class="dropdown-item" data-cycle="1">
                            <div class="icon-container">
                                <i class="fad fa-arrow-down"></i>
                            </div>
                            <p>RECEPCION</p>
                        </div>
                        <div class="dropdown-item" data-cycle="2">
                            <div class="icon-container">
                                <i class="fad fa-arrow-up"></i>
                            </div>
                            <p>DESPACHO</p>
                        </div>
                        <div class="dropdown-item" data-cycle="3">
                            <div class="icon-container">
                                <i class="fal fa-warehouse"></i>
                            </div>
                            <p>INGRESOS<br>BODEGA</p>
                        </div>
                        <div class="dropdown-item" data-cycle="0">
                            <div class="icon-container">
                                <i class="fad fa-sort-alt"></i>
                            </div>
                            <p>STOCK<br>BODEGA</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="home-statistics__date" class="home-statistics">
                <div class="stats-icon">
                    <i class="fal fa-calendar-edit"></i>
                </div>
                <div class="stats-data">
                    
                    <hr>							
                </div>
                <div class="dropdown-container">
                    <div class="dropdown">
                        <div id="home-date__today" class="dropdown-item">
                            <p>HOY</p>
                        </div>
                        <div id="home-date__this-week" class="dropdown-item">
                            <p>ESTA SEMANA</p>
                        </div>
                        <div id="home-date__this-month" class="dropdown-item">
                            <p>ESTE MES</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="home-statistics__product" class="home-statistics">
                <div class="stats-icon">
                    <i class="fas fa-check"></i>
                </div>
                <div class="stats-data">
                    <h4>PRODUCTO</h4>
                    <p>UVA</p>
                </div>
                <div class="dropdown-container">
                    <div class="dropdown">
                        <div class="dropdown-item" data-type="Uva">
                            <p>UVA</p>
                        </div>
                        <div class="dropdown-item" data-type="Pasas">
                            <p>PASAS</p>
                        </div>
                        <div class="dropdown-item" data-type="Otros">
                            <p>OTROS</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="home-statistics__total" class="home-statistics active">
                <div class="stats-icon">
                    <i class="fal fa-chart-line"></i>
                </div>
                <div class="stats-data">
                    <h4>TOTAL</h4>
                    <p></p>
                </div>
            </div>
            <div id="home-statistics__parron" class="home-statistics">
                <div class="stats-icon">
                    <i class="fal fa-info"></i>
                </div>
                <div class="stats-data">
                    <h4>PARRON</h4>
                    <span></span>
                    <p></p>
                </div>
            </div>
            <div id="home-statistics__packing" class="home-statistics">
                <div class="stats-icon">
                    <i class="fal fa-info"></i>
                </div>
                <div class="stats-data">
                    <h4>PACKING</h4>
                    <span></span>
                    <p></p>
                </div>
            </div>
        </div>

        <div id="home-products">
            
        </div>
    </div>
</div>
<div id="home-charts-container">
    <div id="home-arrows-container">
        <div id="home-arrows">
            <i class="fas fa-caret-circle-up"></i>
            <i class="fas fa-caret-circle-down"></i>
        </div>
    </div>
    <div id="home-charts">

    </div>
</div>