<div>
    <div>
        <h3>CREAR SUCURSAL</h3>
    </div>
    <div>
        <div class="input-effect-container">
            <input id="client-template__create-branch__name" spellcheck="false" class="input-effect" type="text" name="new-entity-name" max="32">
            <label>NOMBRE</label>
            <span class="focus-border"></span>	
        </div>
        <div class="input-effect-container">
            <input id="client-template__create-branch__address" spellcheck="false" class="input-effect" type="text" name="new-entity-name" max="256">
            <label>DIRECCION</label>
            <span class="focus-border"></span>	
        </div>    
    </div>

    <div>

        <div id="client-template__regions-select" class="select-effect">
            <p></p>
            <select id=""></select>
            <i class="far fa-chevron-down"></i>
            <label>REGION</label>
            <span class="focus-border"></span>
        </div>

        <div id="client-template__comunas-select" class="select-effect">
            <p></p>
            <select id=""></select>
            <i class="far fa-chevron-down"></i>
            <label>COMUNA</label>
            <span class="focus-border"></span>
        </div>

        <div class="input-effect-container">
            <input id="client-template__create-branch__phone" spellcheck="false" class="input-effect" type="text" name="new-entity-name" max="12">
            <label>TELEFONO</label>
            <span class="focus-border"></span>	
        </div>

    </div>

    <div>
        <div>
            <button id="client-template__delete-branch-btn" class="svg-wrapper enabled icon-left red">
                <svg height="45" width="160" xmlns="http://www.w3.org/2000/svg">
                    <rect class="shape" height="45" width="160" />
                </svg>
                <div class="desc-container">
                    <i class="fad fa-trash"></i>
                    <p>ELIMINAR</p>
                </div>
            </button>
            <button id="client-template__create-branch-btn" class="svg-wrapper enabled icon-left">
                <svg height="45" width="160" xmlns="http://www.w3.org/2000/svg">
                    <rect class="shape" height="45" width="160" />
                </svg>
                <div class="desc-container">
                    <i class="fal fa-code-branch"></i>
                    <p></p>
                </div>
            </button> 
        </div>                
    </div>
        
</div>

<div class="close-btn-absolute">
    <div>
        <i class="fas fa-times"></i>
    </div>
</div>