<div id="create-weight__change-tara-type-container">
    <div id="create-weight__change-tara-type">
        <div class="create-document-absolute">
            <div class="header">
                <h3>TIPO DE TARA</h3>
            </div>
            <div class="body">
                <div class="select-tara-type-container">
                    <div class="select-tara-type" data-type="automatica" onclick="change_tara_type_select_tara(this);">
                        <i class="fad fa-check"></i>
                        <h5>AUTOMATICA</h5>
                    </div>
                    <div class="select-tara-type" data-type="manual" onclick="change_tara_type_select_tara(this);">
                        <i class="fad fa-check"></i>
                        <h5>MANUAL</h5>
                    </div>
                    <div class="select-tara-type-info">
                        <p class="manual">Al seleccionar <b>Tara Manual</b> el usuario ingresa el peso. El pesaje digital se almacenará de igual manera en una tabla distinta.</p>
                        <p class="automatica">Al seleccionar <b>Tara Automática</b> el pesaje se toma directamente desde la pesa digital.</p>
                    </div>
                </div>                
            </div>
            <div class="footer">
                <div class="create-document-btns-container">
                    <button id="create-weight__change-tara__close-modal" class="svg-wrapper enabled red">
                        <svg height="45" width="160" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="45" width="160" />
                        </svg>
                        <div class="desc-container">
                            <i class="fas fa-times-circle"></i>
                            <p>CANCELAR</p>
                        </div>
                    </button>
                    <button id="create-weight__change-tara__set-tara" class="svg-wrapper enabled green">
                        <svg height="45" width="160" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="45" width="160" />
                        </svg>
                        <div class="desc-container">
                            <i class="fas fa-check-circle"></i>
                            <p>ACEPTAR</p>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>