<div id="generate-electronic-document" class="create-document-absolute active">
    <div class="header">
        <h3>GUIA ELECTRONICA</h3>
    </div>
    <div class="body">
        <div id="electronic-document__body">
            
            <div id="electronic-document__progress-line"></div>

            <div id="electronic-document__progress-steps">
                <div>
                    <div id="electronic-document__progress-circle"></div>
                    <div id="electronic-document__progress-step">
                        <p>0%</p>
                    </div>
                </div>
            </div>

            <div id="electronic-document__progress-description">
                <p>Generando guía electrónica</p>
            </div>
            
        </div>
    </div>
    <div class="footer">
        <div class="create-document-btns-container">
            <button class="svg-wrapper enabled red" >
                <svg height="45" width="160" xmlns="http://www.w3.org/2000/svg">
                    <rect class="shape" height="45" width="160"></rect>
                </svg>
                <div class="desc-container">
                    <i class="fas fa-times-circle"></i>
                    <p>CANCELAR</p>
                </div>
            </button>										
        </div>
    </div>
</div>